@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
	--primary-color: #e0e0e0;
	--logo-color: #0a1a2f;

	--grey-300: #bcbcbc;
	--grey-400: #8b8b8b;
	--grey-600: #535050;
	--white: #ffffff;

	/* ======== project color state ======== */
	--in-progress: #5676f4;
	--completed: #009a5a;
	--not-started: #a9a9aa;

	/* ======== utilities ======== */
	--transition-base: all 0.2s ease-in-out;

	/* ======== typography ======== */
	--font-inter:
		"Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
	width: 100dvw;
	min-height: 100dvh;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 2fr auto;
	margin: auto;

	background: var(--primary-color);

	font-family: var(--font-inter);
}

/* ================================== HEADER: mobile first ==================================  */
.header {
	width: 90%;
	padding: 10px;
	margin: 10px auto;

	display: grid;
	grid-template-columns: auto 2fr 1fr;
	gap: 9px;
	align-items: center;

	border-radius: 20px;
	box-shadow:
		2px 2px 5px #bcbcbc,
		-2px -2px 5px #ffffff;
}

.header-logo {
	width: 36px;
	height: 90%;
	display: flex;
	justify-content: center;
	align-items: center;

	box-shadow:
		inset 2px 2px 5px var(--grey-300),
		inset -2px -2px 5px var(--white);
	border-radius: 50px;
}

.logo-icon {
	width: 100%;
	text-align: center;
	font-weight: 900;
	font-size: 1.3rem;
}

.logo-text,
.menu-title,
.menu-btn .text {
	display: none;
}

.header-menu {
	width: 100%;
	height: 100%;
	display: flex;
	gap: 0.3rem;
	align-items: center;
	justify-content: center;
}

.menu-btn {
	width: clamp(1.8rem, 0.3rem + 5vw, 1.8rem);
	height: clamp(1.8rem, 0.3rem + 5vw, 1.8rem);
	padding: 0.2rem;

	border: none;
	border-radius: 9px;
	background: var(--primary-color);

	overflow: hidden;
	cursor: pointer;
	transition: var(--transition-base);
}

.menu-btn:hover {
	box-shadow:
		2px 2px 5px var(--grey-300),
		-2px -2px 5px var(--white);
}

.menu-btn .icon {
	width: 100%;
	height: 100%;
	object-fit: contain;

	margin: auto;
	align-self: center;
}

.active {
	box-shadow:
		2px 2px 5px var(--grey-300),
		-2px -2px 5px var(--white);
}

.header-actions {
	width: 100%;
	height: 100%;
}

.btn-new-project {
	width: 100%;
	height: 30px;
	border-radius: 50px;
	padding: 0.3rem;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1px;

	font-size: 0.7rem;
	color: var(--grey-600);

	box-shadow:
		inset 2px 2px 5px var(--grey-300),
		inset -2px -2px 5px var(--white),
		2px 2px 5px var(--grey-300),
		-2px -2px 5px var(--white);
	border: none;
	cursor: pointer;
	transition: var(--transition-base);
}

/* ================================== CONTENT ==================================  */
.content {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

/* ================================== DASHBOARD: mobile first ==================================  */
.dashboard-page {
	width: 96%;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 80px 85px repeat(2, auto);
	gap: 10px;
}

.dashboard-banner {
	width: 100%;
	max-width: 100dvw;
	height: 100%;
	box-shadow:
		inset 2px 2px 5px var(--grey-300),
		inset -2px -2px 5px var(--white);
	border-radius: 9px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.banner-heading {
	font-size: clamp(1.5rem, 0.2rem + 3vw, 1.8rem);
	text-align: center;
	break-inside: auto;
}

.dashboard-stats {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 5px;
}

.stats-card {
	width: 100%;
	padding: 5px;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 20px 1fr;

	box-shadow:
		inset 2px 2px 5px var(--grey-300),
		inset -2px -2px 5px var(--white);
	border-radius: 9px;
}

.stats-heading {
	font-size: 10px;
	font-weight: normal;
	text-align: center;
	text-transform: capitalize;
	color: var(--grey-400);
}

.stats-number {
	margin: auto;
	color: var(--grey-400);
	font-weight: 600;
}

.tasks-section {
	width: 100%;
	padding: 10px;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;

	box-shadow:
		inset 2px 2px 5px var(--grey-300),
		inset -2px -2px 5px var(--white);
	border-radius: 9px;
}

.tasks-heading {
	width: 100%;
	font-size: 1.5rem;
	color: var(--grey-300);
}

.dropdown {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	position: relative;
	z-index: 10;
}

.dropdown-btn {
	padding: 10px 40px;
	background: var(--primary-color);
	color: var(--grey-300);

	border: none;
	border-radius: 9px;
	box-shadow:
		2px 2px 5px var(--grey-300),
		-2px -2px 5px var(--white);
	cursor: pointer;
	transition: var(--transition-base);
}

.dropdown-btn:hover {
	box-shadow:
		inset 2px 2px 5px var(--grey-300),
		inset -2px -2px 5px var(--white);
	color: var(--grey-400);
}

/* DROPDOWN GENERAL STYLES */
.dropdown-content {
	width: 115px;
	padding: 4px;
	position: absolute;
	top: calc(100% + 10px);
	right: 0;
	z-index: 100;

	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: var(--transition-base);

	display: flex;
	flex-direction: column;
	gap: 3px;

	background: var(--primary-color);
	border-radius: 9px;

	box-shadow:
		2px 2px 5px var(--grey-300),
		-2px -2px 5px var(--white);
}

.dropdown-content.show {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

.dropdown-content[hidden] {
	display: none;
}

.filter-option {
	width: 100%;
	padding: 0.3rem;

	border: none;
	border-radius: 7px;
	color: var(--grey-400);
	background: var(--primary-color);

	font-size: 12px;
	text-align: center;
	text-transform: capitalize;

	cursor: pointer;
	transition: var(--transition-base);
}

.filter-option:hover {
	box-shadow:
		inset 2px 2px 5px var(--grey-300),
		inset -2px -2px 5px var(--white);
}

/* end dropdown styles */

.tasks-table {
	width: 100%;

	border-collapse: separate;
	border-spacing: 0 10px;
	table-layout: fixed;
}

.tasks-table thead {
	color: var(--grey-400);
	font-size: 12px;
	text-align: left;
}

.tasks-table th,
.tasks-table td {
	padding: 9px 12px;
	text-align: left;
}

td[colspan="3"],
td[colspan="4"] {
	text-align: center;
	vertical-align: middle;
}

.empty-row {
	width: 100%;
	height: 100%;
}

.empty-cell {
	width: 100%;
	height: 100%;

	text-align: center;
	font-size: 1rem;
	color: var(--grey-600);
}

.empty-icon {
	font-size: 2.6rem;
}

.task-row {
	box-shadow:
		inset 2px 2px 5px var(--grey-300),
		inset -2px -2px 5px var(--white),
		2px 2px 5px var(--grey-300),
		-2px -2px 5px var(--white);
	border-radius: 7px;
	height: auto;
}

.task-link {
	width: 100%;
	padding: 3px;

	display: flex;
	align-items: center;
	gap: 10px;

	border: none;
	border-radius: 4px;
	background: var(--primary-color);

	font-size: 12px;
	color: var(--grey-600);
	cursor: pointer;
}

.task-link:hover {
	box-shadow:
		2px 2px 5px var(--grey-300),
		-2px -2px 5px var(--white);
}

.task-icon {
	background: var(--grey-600);
	padding: 2px;
	border-radius: 3px;
}

.task-name {
	text-transform: capitalize;
}

.task-project,
.task-date {
	font-size: 12px;
	color: var(--grey-600);
}

.projects-section {
	width: 100%;
	padding: 10px;
	margin-bottom: 1rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;

	box-shadow:
		inset 2px 2px 5px var(--grey-300),
		inset -2px -2px 5px var(--white);
	border-radius: 9px;
}

.heading-section {
	width: 100%;
	font-size: 1.5rem;
	color: var(--grey-300);
}

.projects-table {
	width: 100%;

	border-collapse: separate;
	border-spacing: 0 10px;
	table-layout: fixed;
}

.projects-table thead {
	color: var(--grey-400);
	font-size: 12px;
	text-align: left;
}

.projects-table th,
.projects-table td {
	padding: 9px 7px;
	text-align: left;
}

.project-row {
	box-shadow:
		inset 2px 2px 5px var(--grey-300),
		inset -2px -2px 5px var(--white),
		2px 2px 5px var(--grey-300),
		-2px -2px 5px var(--white);
	border-radius: 7px;
	height: auto;
}

.project-link {
	width: 100%;
	padding: 3px;

	display: flex;
	align-items: center;
	gap: 5px;

	border: none;
	border-radius: 4px;
	background: var(--primary-color);

	font-size: 12px;
	color: var(--grey-600);
	cursor: pointer;
}

.project-link:hover {
	box-shadow:
		2px 2px 5px var(--grey-300),
		-2px -2px 5px var(--white);
}

.project-status,
.project-progress,
.project-total-tasks {
	font-size: 12px;
	color: var(--grey-600);
}

.project-status {
	width: 100%;
}

/* status styles */
.not-started {
	color: var(--not-started);
}

.empty {
	color: var(--not-started);
}

.completed {
	color: var(--completed);
}

.in-progress {
	color: var(--in-progress);
}

/* end status styles */

/* ================================== FOOTER ==================================  */
.footer {
	width: 100%;
	padding: 0.4rem 1rem;
}

.footer-text {
	font-size: clamp(0.8rem, 0.2rem + 2vw, 0.9rem);
	color: var(--grey-600);
	text-align: center;
}

.footer-link {
	text-decoration: none;
	color: var(--logo-color);
	font-weight: 800;
	transition: var(--transition-base);
}

.footer-link:hover {
	color: var(--grey-400);
}
