@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
	--primary-color: #e0e0e0;
	--logo-color: #0a1a2f;

	--grey-300: #bcbcbc;
	--grey-400: #8b8b8b;
	--grey-600: #535050;
	--white: #ffffff;

	/* ======== project color state ======== */
	--in-progress: #5676f4;
	--in-progress-bg: #aebeff;
	--complete: #009a5a;
	--complete-bg: #cbffe9;
	--not-started: #ffffff;
	--not-started-bg: #a9a9aa;

	/* ======== utilities ======== */
	--transition-base: all 0.2s ease-in-out;

	/* ======== typography ======== */
	--font-inter:
		"Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;

	--font-size-xs: 0.625rem;
	--font-size-sm: 0.75rem;
	--font-size-md: 0.875rem;

	/* ======== border radius ======== */
	--border-radius-sm: 7px;
	--border-radius-md: 9px;
	--border-radius-lg: 20px;
	--border-radius-pill: 50px;

	/* ======== shadows ======== */
	--shadow-inset:
		inset 2px 2px 5px var(--grey-300), inset -2px -2px 5px var(--white);
	--shadow-outer: 2px 2px 5px var(--grey-300), -2px -2px 5px var(--white);
	--shadow-both:
		inset 2px 2px 5px var(--grey-300), inset -2px -2px 5px var(--white),
		2px 2px 5px var(--grey-300), -2px -2px 5px var(--white);

	/* ======== spacing ======== */
	--spacing-xs: 0.3rem;
	--spacing-sm: 0.5rem;
	--spacing-md: 0.625rem;
	--spacing-lg: 1rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button {
	color: var(--grey-600);
	cursor: pointer;
}

body,
html {
	width: 100dvw;
	min-height: 100dvh;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 2fr auto;
	margin: auto;

	background: var(--primary-color);
	font-family: var(--font-inter);
}

body {
	max-width: 1600px;
	margin: 0 auto;
}

/* ================================== HEADER: mobile first ==================================  */
.header {
	width: 90%;
	padding: var(--spacing-md);
	margin: var(--spacing-md) auto;

	display: flex;
	align-items: center;
	gap: var(--spacing-md);

	border-radius: var(--border-radius-lg);
	box-shadow: var(--shadow-outer);
}

.header-logo {
	width: 36px;
	height: 90%;
	display: flex;
	justify-content: center;
	align-items: center;

	box-shadow: var(--shadow-inset);
	border-radius: var(--border-radius-pill);
}

.logo-icon {
	width: 100%;
	text-align: center;
	font-weight: 900;
	font-size: 1.3rem;
}

.logo-text,
.menu-title,
.menu-btn .text {
	display: none;
}

.header-menu {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--spacing-xs);
}

.menu-section {
	display: contents;
}

.menu-items {
	display: flex;
	align-items: center;
	gap: var(--spacing-xs);
}

.menu-btn {
	width: clamp(1.8rem, 0.3rem + 5vw, 1.8rem);
	height: clamp(1.8rem, 0.3rem + 5vw, 1.8rem);
	padding: 0.2rem;

	border: none;
	border-radius: var(--border-radius-md);
	background: var(--primary-color);

	overflow: hidden;
	cursor: pointer;
	transition: var(--transition-base);
}

.menu-btn:hover {
	box-shadow: var(--shadow-outer);
}

.menu-btn .icon {
	width: 100%;
	height: 100%;
	object-fit: contain;
	margin: auto;
	align-self: center;
}

.active {
	box-shadow: var(--shadow-outer);
}

.header-actions {
	flex-shrink: 1;
}

.btn-new-project {
	width: fit-content;
	height: 30px;
	border-radius: var(--border-radius-pill);
	padding: var(--spacing-xs);

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1px;

	font-size: var(--font-size-xs);
	color: var(--grey-600);

	box-shadow: var(--shadow-both);
	border: none;
	cursor: pointer;
	transition: var(--transition-base);
}

.btn-new-project__plus,
.btn-new-project__text {
	color: var(--grey-400);
}

.btn-new-project__icon {
	display: none;
}

.btn-new-project:hover {
	box-shadow: var(--shadow-outer);
	background: var(--primary-color);
}

/* ================================== HEADER MODAL: new project ==================================  */
.project-modal {
	align-self: center;
	justify-self: center;

	width: 80%;
	height: 240px;
	padding: var(--spacing-lg);

	border: none;
	border-radius: var(--border-radius-md);
	background: var(--primary-color);
}

.project-modal form {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: var(--spacing-lg);
}

.project-modal__heading {
	text-align: center;
	color: var(--grey-400);
	margin-bottom: var(--spacing-sm);
}

.project-modal form label {
	align-self: flex-start;
	font-weight: 300;
	font-size: var(--font-size-md);
	color: var(--grey-600);
}

.project-modal__input {
	width: 100%;
	padding: var(--spacing-md);

	border: none;
	border-radius: var(--border-radius-md);
	box-shadow: var(--shadow-inset);

	background: var(--primary-color);
	color: var(--grey-600);
}

.project-modal__input:focus {
	outline: none;
}

.project-modal__btn--submit {
	width: 60%;
	padding: var(--spacing-sm);

	background: var(--primary-color);
	border: none;
	border-radius: var(--border-radius-lg);
	box-shadow: var(--shadow-outer);

	cursor: pointer;
	transition: var(--transition-base);
}

.project-modal__btn--submit:hover {
	box-shadow: var(--shadow-inset);
}

.project-modal__btn--cancel {
	width: 30%;
	background: var(--primary-color);
	color: var(--grey-400);

	border: none;
	cursor: pointer;
	transition: all var(--transition-base);
}

.project-modal__btn--cancel:hover {
	color: var(--grey-600);
}

/* ================================== CONTENT ==================================  */
.content {
	width: 100%;
	min-height: 85vh;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

/* ================================== DASHBOARD: mobile first ==================================  */
.dashboard-page {
	width: 96%;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 80px 85px repeat(2, auto);
	gap: var(--spacing-md);
}

.dashboard-banner {
	width: 100%;
	max-width: 100dvw;
	height: 100%;
	box-shadow: var(--shadow-inset);
	border-radius: var(--border-radius-md);

	display: flex;
	justify-content: center;
	align-items: center;
}

.banner-heading {
	font-size: clamp(1.5rem, 0.2rem + 3vw, 1.8rem);
	text-align: center;
	break-inside: auto;
}

.dashboard-stats {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 5px;
}

.stats-card {
	width: 100%;
	padding: 5px;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 20px 1fr;

	box-shadow: var(--shadow-inset);
	border-radius: var(--border-radius-md);
}

.stats-heading {
	font-size: 0.7rem;
	font-weight: normal;
	text-align: center;
	text-transform: capitalize;
	color: var(--grey-400);

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.stats-number {
	margin: auto;
	color: var(--grey-400);
	font-weight: 600;
	font-size: 1.2rem;
}

.tasks-section {
	width: 100%;
	padding: var(--spacing-md);

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--spacing-md);

	box-shadow: var(--shadow-inset);
	border-radius: var(--border-radius-md);
}

.tasks-heading {
	width: 100%;
	font-size: 1.5rem;
	color: var(--grey-300);
}

.dropdown {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	position: relative;
	z-index: 10;
}

.dropdown-btn {
	padding: var(--spacing-md) 40px;
	background: var(--primary-color);
	color: var(--grey-300);

	border: none;
	border-radius: var(--border-radius-md);
	box-shadow: var(--shadow-outer);
	cursor: pointer;
	transition: var(--transition-base);
}

.dropdown-btn:hover {
	box-shadow: var(--shadow-inset);
	color: var(--grey-400);
}

/* DROPDOWN GENERAL STYLES */
.dropdown-content {
	width: 115px;
	padding: 4px;
	position: absolute;
	top: calc(100% + var(--spacing-md));
	right: 0;
	z-index: 100;

	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: var(--transition-base);

	display: flex;
	flex-direction: column;
	gap: 3px;

	background: var(--primary-color);
	border-radius: var(--border-radius-md);
	box-shadow: var(--shadow-outer);
}

.dropdown-content.show {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

.dropdown-content[hidden] {
	display: none;
}

.filter-option {
	width: 100%;
	padding: var(--spacing-xs);

	border: none;
	border-radius: var(--border-radius-sm);
	color: var(--grey-400);
	background: var(--primary-color);

	font-size: var(--font-size-sm);
	text-align: center;
	text-transform: capitalize;

	cursor: pointer;
	transition: var(--transition-base);
}

.filter-option:hover {
	box-shadow: var(--shadow-inset);
}

/* end dropdown styles */

.tasks-table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0 var(--spacing-md);
	table-layout: fixed;
}

.tasks-table thead {
	color: var(--grey-400);
	font-size: var(--font-size-xs);
	text-align: left;
}

.tasks-table th {
	white-space: nowrap;
	padding: var(--spacing-md) var(--spacing-sm);
}

.tasks-table td {
	padding: var(--spacing-md) var(--spacing-sm);
	text-align: left;
	font-size: var(--font-size-xs);
}

/* tasks column widths */
.tasks-table th:nth-child(1),
.tasks-table td:nth-child(1) {
	width: 40%;
}

.tasks-table th:nth-child(2),
.tasks-table td:nth-child(2) {
	display: none;
}

.tasks-table th:nth-child(3),
.tasks-table td:nth-child(3) {
	width: 30%;
}

.tasks-table th:nth-child(4),
.tasks-table td:nth-child(4) {
	width: 30%;
}

td[colspan="4"],
td[colspan="5"] {
	text-align: center;
	vertical-align: middle;
}

.empty-row {
	width: 100%;
	height: 100%;
}

.empty-cell {
	width: 100%;
	height: 100%;
	text-align: center;
	text-transform: uppercase;
	font-size: var(--font-size-md);
	color: var(--grey-600);
}

.empty-icon {
	font-size: clamp(1.3rem, 3vw + 0.8rem, 2.6rem);
}

.task-row {
	box-shadow: var(--shadow-both);
	border-radius: var(--border-radius-sm);
	height: auto;
}

.task-link {
	width: 100%;
	padding: 3px;

	display: flex;
	align-items: center;
	gap: var(--spacing-xs);

	border: none;
	border-radius: 4px;
	background: var(--primary-color);

	font-size: var(--font-size-xs);
	color: var(--grey-600);
	cursor: pointer;
}

.task-link:hover {
	box-shadow: var(--shadow-outer);
}

.task-icon {
	width: 7px;
	height: 20px;
	background: var(--grey-600);
	border-radius: 3px;
}

.task-name {
	text-transform: capitalize;
	font-size: var(--font-size-xs);

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 80px;
}

.task-project,
.task-date,
.task-status {
	font-size: var(--font-size-xs);
	color: var(--grey-600);
}

.todo-completed {
	padding: 4px var(--spacing-sm);
	background: var(--complete-bg);
	color: var(--complete);
	border-radius: var(--border-radius-pill);
	font-size: var(--font-size-xs);
}

.todo-pending {
	padding: 4px var(--spacing-sm);
	background: var(--not-started-bg);
	color: var(--not-started);
	border-radius: var(--border-radius-pill);
	font-size: var(--font-size-xs);
}

.projects-section {
	width: 100%;
	padding: var(--spacing-md);
	margin-bottom: var(--spacing-lg);

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--spacing-md);

	box-shadow: var(--shadow-inset);
	border-radius: var(--border-radius-md);
}

.heading-section {
	width: 100%;
	font-size: 1.3rem;
	color: var(--grey-300);
}

.projects-table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0 var(--spacing-md);
	table-layout: fixed;
}

.projects-table thead {
	color: var(--grey-400);
	font-size: var(--font-size-xs);
	text-align: left;
	align-items: flex-start;
}

.projects-table th {
	padding: var(--spacing-md) var(--spacing-sm);
	text-align: left;
}

.projects-table td {
	padding: var(--spacing-md) var(--spacing-sm);
	text-align: left;
	font-size: var(--font-size-xs);
}

.projects-table th:nth-child(1),
.projects-table td:nth-child(1) {
	width: 25%;
}

.projects-table th:nth-child(2),
.projects-table td:nth-child(2) {
	width: 30%;
}

.projects-table th:nth-child(3),
.projects-table td:nth-child(3) {
	width: 20%;
}

.projects-table th:nth-child(4),
.projects-table td:nth-child(4) {
	width: 25%;
}

.projects-table th:nth-child(5),
.projects-table td:nth-child(5) {
	display: none;
}

.project-row {
	box-shadow: var(--shadow-both);
	border-radius: var(--border-radius-sm);
	height: auto;
}

.project-link {
	width: 100%;
	padding: 3px;

	display: flex;
	align-items: center;
	gap: var(--spacing-sm);

	border: none;
	border-radius: 4px;
	background: var(--primary-color);

	font-size: var(--font-size-xs);
	color: var(--grey-600);
	cursor: pointer;
}

.project-icon {
	width: 7px;
	height: 20px;
	border-radius: 3px;
}

.project-name {
	font-size: var(--font-size-xs);
	text-align: center;
	text-transform: uppercase;

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 80px;
}

.project-link:hover {
	box-shadow: var(--shadow-outer);
}

.project-status,
.project-progress,
.project-total-tasks,
.project-date {
	font-size: var(--font-size-xs);
	color: var(--grey-600);
}

.project-status {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	word-break: keep-all;
	text-align: center;

	font-size: 0.55rem;
	padding: 2px 4px;
	border-radius: var(--border-radius-pill);
}

/* status styles */
.not-started,
.empty {
	color: var(--not-started);
	background: var(--not-started-bg);
}

.completed {
	color: var(--complete);
	background: var(--complete-bg);
}

.in-progress {
	color: var(--in-progress);
	background: var(--in-progress-bg);
}

.project-detail-row {
	width: 100%;
	height: 100%;
}

.project-detail-row td {
	width: 100%;
	height: 100%;
	text-align: center;
}

.project-detail__btn--delete {
	padding: var(--spacing-md) var(--spacing-lg);
	border: none;
	border-radius: var(--border-radius-sm);
	background: var(--primary-color);
	box-shadow: var(--shadow-outer);

	cursor: pointer;
}

.project-detail__btn--delete:hover {
	box-shadow: var(--shadow-inset);
}

.project-detail__message {
	margin-top: 1rem;
	color: #be6c6c;
	font-size: var(--font-size-sm);
}

/* ================================== PROJECTS-PAGE: mobile ==================================  */
.projects-page {
	width: 96%;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(auto-fill, auto);
	gap: var(--spacing-md);
}

.projects-heading {
	font-size: clamp(1.4rem, 0.2rem + 3vw, 1.6rem);
	text-transform: uppercase;
	width: 100%;
	color: var(--grey-300);
}

.projects-stats {
	display: flex;
	gap: var(--spacing-sm);
}

.projects-page .stats-card {
	padding: 1rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* ================================== TASKS ==================================  */
.tasks-page {
	width: 96%;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(auto-fill, auto);
	gap: var(--spacing-md);
}

.btn-add-task {
	width: 100%;
	max-width: 200px;
	padding: var(--spacing-md) var(--spacing-lg);
	margin: var(--spacing-xs);
	margin-left: auto;
	border: none;
	border-radius: var(--border-radius-md);

	grid-column: 2 / 3;

	background: var(--primary-color);
	box-shadow: var(--shadow-outer);
	cursor: pointer;

	color: var(--grey-600);
	font-size: var(--font-size-md);
}

.btn-add-task:hover {
	box-shadow: var(--shadow-inset);
}

.btn-add-task:active {
	box-shadow: var(--shadow-inset);
}

.tasks-groups {
	width: 100%;
	grid-column: 1 / 3;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(auto-fill, auto);
	gap: var(--spacing-md);
}

.project-group__header {
	box-shadow: var(--shadow-outer);
	border-radius: var(--border-radius-md);
	padding: var(--spacing-md);

	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;

	color: var(--grey-600);

	cursor: pointer;
}

.project-group__header h2 {
	font-size: clamp(1.2rem, 3vw + 0.3rem, 1.4rem);
	text-transform: capitalize;
}

.project-group__header span {
	transform: rotate(180deg);
	transition: all 0.3s ease-in;
}

.project-group__header:hover span {
	transform: rotate(270deg);
}

.project-group .tasks-table {
	box-shadow: var(--shadow-inset);
	padding: var(--spacing-sm);
	border-radius: var(--border-radius-md);
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.task-detail-row {
	width: 100%;
	color: var(--grey-600);
}

.task-detail {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: var(--spacing-xs);
}

.task-details__controls {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--spacing-sm);
	margin-top: var(--spacing-sm);
}

.task-details__controls button {
	background: var(--primary-color);
	border: none;
	border-radius: var(--border-radius-pill);
	box-shadow: var(--shadow-both);
	padding: var(--spacing-sm) var(--spacing-lg);

	color: var(--grey-400);
}

.task-details__controls button:hover {
	box-shadow: var(--shadow-outer);
}

.task-details__controls button:active {
	box-shadow: var(--shadow-outer);
}

/* task modal */
.task-modal {
	width: 86%;
	padding: var(--spacing-md);

	align-self: center;
	justify-self: center;

	border: none;
	border-radius: var(--border-radius-md);
	background: var(--primary-color);
}

.task-modal__heading {
	text-align: center;
	color: var(--grey-400);
	padding: var(--spacing-sm);
	font-size: clamp(1.2rem, 3vw + 0.3rem, 1.6rem);
}

.task-modal__form {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-sm);
}

.task-modal__label,
option {
	width: 100%;
	color: var(--grey-600);
	font-size: var(--font-size-sm);
	font-weight: 200;

	cursor: pointer;
}

.task-modal__input,
.task-modal__select,
.task-modal__textarea {
	width: 100%;
	padding: var(--spacing-md);

	background: var(--primary-color);
	border: none;
	border-radius: var(--border-radius-sm);
	box-shadow: var(--shadow-inset);

	cursor: pointer;
}

.task-modal__input::placeholder,
.task-modal__select::placeholder,
.task-modal__textarea::placeholder {
	color: var(--grey-300);
}

.task-modal__textarea {
	resize: none;
}

.task-modal__input:focus,
.task-modal__select:focus,
.task-modal__textarea:focus {
	outline-style: groove;
	outline-color: var(--grey-400);
	outline-width: 2px;
}

.task-modal__btn--submit {
	width: 90%;
	padding: var(--spacing-md);
	margin: var(--spacing-sm) auto 0;
	align-self: center;
	border: none;
	border-radius: var(--border-radius-pill);

	background: var(--primary-color);
	color: var(--grey-600);
	box-shadow: var(--shadow-outer);
	cursor: pointer;
}

.task-modal__btn--submit:hover {
	box-shadow: var(--shadow-inset);
	color: var(--grey-400);
}

.task-modal__btn--cancel {
	width: 20%;
	align-self: center;
	padding: 0.3rem;

	border: none;
	border-bottom: 1px solid transparent;
	background: transparent;
	color: var(--grey-300);

	cursor: pointer;
	transition: var(--transition-base);
}

.task-modal__btn--cancel:hover {
	color: var(--grey-600);
	border-bottom: 1px solid var(--grey-600);
}

/* ================================== NOTES ==================================  */
.notes-page {
	width: 96%;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(auto-fill, auto);
	gap: var(--spacing-md);
}

.notes-heading {
	font-size: clamp(1.4rem, 0.2rem + 3vw, 1.6rem);
	text-transform: uppercase;
	width: 100%;
	color: var(--grey-300);
}

.btn-add-note {
	width: 100%;
	max-width: 200px;
	padding: var(--spacing-md) var(--spacing-lg);
	margin: var(--spacing-xs);
	margin-left: auto;
	border: none;
	border-radius: var(--border-radius-md);

	grid-column: 2 / 3;

	background: var(--primary-color);
	box-shadow: var(--shadow-outer);
	cursor: pointer;

	color: var(--grey-600);
	font-size: var(--font-size-md);
}

.btn-add-note:hover {
	box-shadow: var(--shadow-inset);
}

.notes-grid {
	grid-column: 1 / 3;
	width: 100%;
	margin-bottom: var(--spacing-lg);

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	gap: var(--spacing-md) var(--spacing-lg);
}

.notes-empty {
	width: 100%;
	grid-column: 1 / 2;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	font-size: clamp(1.3rem, 3vw + 0.3rem, 2rem);
	color: var(--grey-600);
	text-align: center;
}

.notes-empty__icon {
	margin-top: 4rem;
	font-size: clamp(3rem, 3vw + 0.3rem, 4rem);
	color: var(--grey-600);
	text-align: center;
}

.note-card {
	width: 100%;
	padding: var(--spacing-lg);

	border-radius: var(--border-radius-sm);
	box-shadow: var(--shadow-outer);
	color: var(--grey-400);

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 2fr auto;
	gap: var(--spacing-md);
}

.note-card__content {
	grid-column: 1 / 4;
	grid-row: 1 / 2;

	color: var(--grey-600);
	font-size: 0.8rem;
}

.note-card__date {
	grid-column: 1 / 2;
	grid-row: 2 / 3;

	height: 100%;
	display: flex;
	align-items: flex-end;

	font-size: clamp(0.5rem, 3vw + 0.3rem, 0.8rem);
}

.note-card__btn--delete {
	grid-column: 3 / 4;
	padding: var(--spacing-md) var(--spacing-lg);

	border: none;
	border-radius: var(--border-radius-pill);
	background: var(--primary-color);
	box-shadow: var(--shadow-outer);

	color: var(--grey-400);
	font-size: var(--font-size-sm);
	cursor: pointer;
}

.note-card__btn--delete:hover {
	box-shadow: var(--shadow-both);
}

/* note modal */
.note-modal {
	width: 86%;
	padding: var(--spacing-md);
	align-self: center;
	justify-self: center;

	border: none;
	border-radius: var(--border-radius-md);
	background: var(--primary-color);
}

.note-modal__heading {
	text-align: center;
	color: var(--grey-400);
	padding: var(--spacing-sm);
	font-size: clamp(1.2rem, 3vw + 0.3rem, 1.6rem);
}

.note-modal__form {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: var(--spacing-sm);
}

.note-modal__label {
	width: 100%;
	color: var(--grey-600);
	font-size: var(--font-size-md);
	font-weight: 200;

	cursor: pointer;
}

.note-modal__textarea {
	width: 100%;
	padding: var(--spacing-md);

	background: var(--primary-color);
	border: none;
	border-radius: var(--border-radius-sm);
	box-shadow: var(--shadow-inset);

	resize: none;
}

.note-modal__textarea::placeholder {
	color: var(--grey-300);
}

.note-modal__textarea:focus {
	outline: none;
}

.note-modal__btn--submit {
	width: 90%;
	padding: var(--spacing-md);
	margin: var(--spacing-sm) auto 0;
	align-self: center;
	border: none;
	border-radius: var(--border-radius-pill);

	background: var(--primary-color);
	color: var(--grey-600);
	box-shadow: var(--shadow-outer);
	cursor: pointer;
}

.note-modal__btn--submit:hover {
	box-shadow: var(--shadow-both);
	color: var(--grey-400);
}

.note-modal__btn--cancel {
	width: 20%;
	align-self: center;
	padding: 0.3rem;

	border: none;
	border-bottom: 1px solid transparent;
	background: transparent;
	color: var(--grey-300);

	cursor: pointer;
	transition: var(--transition-base);
}

.note-modal__btn--cancel:hover {
	color: var(--grey-600);
	border-bottom: 1px solid var(--grey-600);
}

/* ================================== FOOTER ==================================  */
.footer {
	width: 100%;
	padding: var(--spacing-xs) var(--spacing-lg);
}

.footer-text {
	font-size: clamp(0.8rem, 0.2rem + 2vw, 0.9rem);
	color: var(--grey-600);
	text-align: center;
}

.footer-link {
	text-decoration: none;
	color: var(--logo-color);
	font-weight: 800;
	transition: var(--transition-base);
}

.footer-link:hover {
	color: var(--grey-400);
}

/* ================================== 404 ================================== */
.not-found {
	font-size: clamp(10rem, 2vw + 0.4rem, 15rem);
	font-weight: 800;
	color: var(--grey-600);

	margin: calc(80vh - 500px) auto 0;
}

.not-fount__text {
	font-size: clamp(3rem, 2vw + 0.2rem, 5rem);
	font-weight: 600;
	color: var(--grey-400);
	text-align: center;
}

/* ================================== TABLET: 768px ================================== */
@media (min-width: 768px) {
	html {
		height: 100%;
	}

	body {
		min-height: 100%;
		height: auto;

		grid-template-columns: 60px 1fr;
		grid-template-rows: auto auto;
		align-items: start;
	}

	/* header */
	.header {
		width: 100%;
		min-height: 90vh;
		grid-column: 1 / 2;
		margin: var(--spacing-sm) auto;

		flex-direction: column;
		align-items: center;
		gap: 3rem;

		border-radius: 0;
		box-shadow: none;

		align-self: start;
		position: sticky;
		top: 0;
	}

	.header-logo {
		height: 45px;
	}

	.logo-icon {
		font-size: 1.6rem;
	}

	.header-menu,
	.menu-items {
		flex-direction: column;
	}

	.header-menu {
		flex: 0;
	}

	.menu-items {
		gap: var(--spacing-md);
	}

	.menu-btn {
		width: clamp(1.8rem, 0.3rem + 5vw, 2rem);
		height: clamp(1.8rem, 0.3rem + 5vw, 2rem);
	}

	.btn-new-project {
		height: 40px;
		font-size: var(--font-size-sm);
	}

	.btn-new-project__text {
		display: none;
	}

	.btn-new-project__plus {
		font-weight: 800;
		color: var(--grey-600);
	}

	.btn-new-project__icon {
		display: flex;
		width: 18px;
	}

	/* project-modal */
	.project-modal {
		width: 60%;
	}

	/* content container */
	.content {
		width: 99%;
		height: auto;
		min-height: calc(100vh - 90px);
		margin: var(--spacing-md) auto;
		padding: var(--spacing-lg);

		border-radius: var(--border-radius-md);
		box-shadow: var(--shadow-inset);
	}

	/* dashboard */
	.dashboard-page {
		width: 100%;
	}

	.tasks-table th:nth-child(2),
	.tasks-table td:nth-child(2) {
		display: table-cell;
		width: 25%;
	}

	.tasks-table th:nth-child(1),
	.tasks-table td:nth-child(1) {
		width: 30%;
	}

	.tasks-table th:nth-child(3),
	.tasks-table td:nth-child(3) {
		width: 20%;
	}

	.tasks-table th:nth-child(4),
	.tasks-table td:nth-child(4) {
		width: 25%;
	}

	/* projects-page */
	.projects-page {
		width: 100%;
	}

	.projects-page .stats-card {
		padding: 1.8rem 0.2rem;
	}

	.projects-page .stats-heading {
		font-size: 1rem;
	}

	.projects-page .stats-number {
		font-size: 1.4rem;
	}

	.projects-table th:last-child,
	.projects-table td:last-child {
		display: table-cell;
		width: 20%;
	}

	.projects-table th:nth-child(1),
	.projects-table td:nth-child(1) {
		width: 25%;
	}

	.projects-table th:nth-child(2),
	.projects-table td:nth-child(2) {
		width: 20%;
	}

	.projects-table th:nth-child(3),
	.projects-table td:nth-child(3) {
		width: 20%;
	}

	.projects-table th:nth-child(4),
	.projects-table td:nth-child(4) {
		width: 20%;
	}

	/* tasks-page */
	.tasks-page {
		grid-template-columns: repeat(3, 1fr);
	}

	.btn-add-task {
		grid-column: 3 / 4;
	}

	.tasks-groups {
		grid-column: 1 / 4;
	}

	.task-modal {
		width: 60%;
	}

	/* notes-page */
	.notes-grid {
		grid-template-columns: repeat(2, 1fr);
	}

	.notes-empty {
		grid-column: 1 / 3;
	}

	.note-modal {
		width: 60%;
	}

	/* footer */
	.footer {
		grid-column: 2 /3;
		grid-row: 2 / 3;
	}
}

/* ================================== DESKTOP: 1024px ================================== */
@media (min-width: 1024px) {
	html {
		height: 100%;
	}

	body {
		min-height: 100%;
		height: auto;
		grid-template-columns: 200px 1fr;
		grid-template-rows: auto auto;
		align-items: start;
	}

	/* header */
	.header {
		grid-column: 1 / 2;
		grid-row: 1 / 3;
		height: 80vh;

		position: sticky;
		top: 0;
		align-self: start;
	}

	.header-logo {
		width: 100%;
	}

	.logo-icon {
		display: none;
	}

	.logo-text {
		display: flex;
		font-size: clamp(1rem, 3vw + 0.38rem, 1.4rem);
		font-weight: 800;
	}

	.highlight-logo {
		color: var(--grey-300);
	}

	.header-menu {
		width: 100%;

		align-items: flex-start;
		justify-content: center;
		gap: var(--spacing-md);
	}

	.menu-section {
		width: 100%;
		display: inline;
	}

	.menu-title {
		display: flex;
		justify-content: space-between;
		align-items: center;

		color: var(--grey-300);
		font-size: var(--font-size-xs);
		text-transform: uppercase;
		margin-bottom: var(--spacing-sm);
	}

	.menu-title-icon {
		align-self: flex-end;
		transform: rotate(270deg);
	}

	.menu-btn {
		width: 100%;
		display: grid;
		grid-template-columns: auto 1fr;
		gap: var(--spacing-sm);
		align-items: center;
		justify-content: center;
	}

	.menu-btn .text {
		display: flex;
		color: var(--grey-600);
		font-size: var(--font-size-md);
		font-weight: 400;
	}

	.menu-btn .icon {
		width: 1.5rem;
		height: 90%;
		margin: none;
		align-self: flex-start;
	}

	.btn-new-project {
		width: 100%;
		margin: var(--spacing-sm) auto;
		border-radius: var(--border-radius-sm);
	}

	.btn-new-project__icon {
		display: none;
	}

	.btn-new-project__text {
		display: flex;
	}

	/* project modal */
	.project-modal {
		width: 600px;
	}

	/* content */
	.content {
		height: auto;
		min-height: calc(100vh - 90px);
	}

	/* dashboard */
	.dashboard-page {
		grid-template-columns: 3fr 1fr;
		grid-template-rows: auto;
		gap: 9px;
	}

	.dashboard-banner {
		grid-column: 1 / 3;
		height: 120px;
	}

	.dashboard-stats {
		grid-column: 2 / 3;
		grid-row: 2 / 4;

		grid-template-columns: 1fr;
	}

	.tasks-section {
		grid-column: 1 / 2;
		grid-row: 2 / 4;
	}

	.tasks-table th:nth-child(2),
	.tasks-table td:nth-child(2) {
		display: table-cell;
		width: 25%;
	}

	.tasks-table td:nth-child(2) {
		text-transform: uppercase;
	}

	.tasks-table th:nth-child(1),
	.tasks-table td:nth-child(1) {
		width: 30%;
	}

	.tasks-table th:nth-child(3),
	.tasks-table td:nth-child(3) {
		width: 20%;
	}

	.tasks-table th:nth-child(4),
	.tasks-table td:nth-child(4) {
		width: 25%;
	}

	.projects-section {
		grid-column: 1 / 3;
		grid-row: 4 / 6;

		height: fit-content;
	}

	.projects-table th:last-child,
	.projects-table td:last-child {
		display: table-cell;
		width: 20%;
	}

	.projects-table th:nth-child(1),
	.projects-table td:nth-child(1) {
		width: 25%;
	}

	.projects-table th:nth-child(2),
	.projects-table td:nth-child(2) {
		width: 20%;
	}

	.projects-table th:nth-child(3),
	.projects-table td:nth-child(3) {
		width: 20%;
	}

	.projects-table th:nth-child(4),
	.projects-table td:nth-child(4) {
		width: 15%;
	}

	/* projects page */
	.projects-page {
		display: flex;
		flex-direction: column;
	}

	/* tasks-page */
	.task-modal {
		justify-self: end;
		width: 500px;
		height: 100vh;
		max-height: 800px;
	}

	.task-modal__form {
		height: 100%;
		justify-content: space-evenly;
	}

	/* notes-page */
	.notes-grid {
		grid-template-columns: repeat(3, 1fr);
	}

	.notes-empty {
		grid-column: 1 / 4;
	}

	.note-modal {
		width: 600px;
	}

	/* footer */
	.footer {
		grid-column: 2 / 3;
		grid-row: 2 / 3;

		height: 80px;
	}
}

/* ================================== LARGE DESKTOP: 1440px ================================== */
@media (min-width: 1800px) {
	.dashboard-page,
	.projects-page,
	.tasks-page,
	.notes-page {
		width: 90%;
	}

	.header {
		height: 100vh;
	}

	.not-found {
		margin: 320px auto 0;
	}
}
